.square{
    width: 410px;
    height: 600px;
    float:left
}
.title{
    font-size: 30px;
    margin: 5px auto
}
.game{
    width:200px;
    height: 400px;
    background-color: #f2faff;
    border: 1px solid pink;
    border-top:none;
    position: relative;
    display: inline-block
}
.button{
    color:white;font-weight: bold;font-size: 15px;padding:10px 10px;width:45px;border-radius:5px;box-shadow: 5px 5px 5px gray;background: linear-gradient(gray, #666, #333);text-align:center;display: inline-block;margin-left:5px;margin-top:0px
}
.largeL{
    width:80px;margin-left:64px;margin-top:10px
}
.press{
    background: linear-gradient(skyblue,rgb(75, 162, 197),skyblue);
}
.buttonE{
    color:white;font-weight: bold;font-size: 15px;padding:10px 10px;width:45px;border-radius:5px;text-align:center;display: inline-block;margin-left:5px;margin-top:5px
}
.container{
    width:200px;display: inline-block;vertical-align:top
}
#waiting{
    width: 605px; text-align: center; border:1px rgb(17, 205, 79) dashed; color: red; font-size: 20px;
}
.next{
    width: 80px;
    height: 80px;
    background-color: #f2faff;
    position: relative;
    border: 1px solid pink;
    display: inline-block;
    margin-left:40px
}

.info{
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px
}

.none, .current, .done{
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
}

.none {
    background-color: #f2faff
}
.current{
    background-color: skyblue;
    border: 1px solid black;
}
.done{
    background-color: gray;
    border: 1px solid black
}

.result{
    font-size: 20px; font-weight: bold
}
.win{
    color:green
}
.lose{
    color:red
}